*/cmake_install.cmake
/.gdb_history
/.ninja_deps
/.ninja_log
/CMakeCache.txt
/CMakeFiles/*
/Makefile
/build.ninja
/build/*
/compile_commands.json
/dbtest
/include/rct/rct-config.h
/librct.*
/rct-config.h
/rules.ninja
/tests/CMake*
/tests/CMakeFiles/
/tests/CTest*
/tests/ChildProcess*
/tests/cmake_install.cmake
/tests/rct_tests
/tests/*.txt
