/Makefile
/CMakeFiles/rct.dir/src/Value.cpp.o.d
/cmake_install.cmake
/include/rct/rct-config.h
/librct.a
/CMakeFiles/
/.gdb_history
/rct-config.h
/librct.so
/librct.dylib
/.ninja_log
/CMakeCache.txt
/build.ninja
/rules.ninja
/.ninja_deps
/compile_commands.json
/dbtest
/build/*
/tests/testfile_Äßéמש最終.txt
